<h1>People</h1>

<%= link_to 'New', people_new_path() %>

<% @people.each do |person| %>
  <p>
    name: "<%= person.name %>"<br>
    <%= link_to 'Edit', edit_person_path(person) %>
    <%= link_to 'Delete', person_path(person), data: {method: :delete}%>
  </br>
<% end %>