<h1>Edit category</h1>


<%= form_with model: @category do |f| %>
  <%= f.text_field :title, required: true, minlength: 2, placeholder: "Имя категории" %>
  <%= f.check_box :debit%>
  <%= f.submit "Update category!"%>
<% end %>